---
import Layout from "../layouts/Layout.astro";

import Navbar from "../components/Navbar.astro";
import Profile from "../components/Profile.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Orbit">
	<main>
		<Profile />
		<Navbar />
		<Footer />
	</main>
</Layout>
