---
---

<div class="w-screen h-6 bottom-0 flex fixed justify-center items-center">
	<div
		class="text-1xl flex h-6 w-40 rounded-t-3xl bg-white/50 backdrop-blur drop-shadow-lg"
	>
		<div class="m-auto">
			<span class="text-xs">© 2022-2024 IThundxr</span>
		</div>
	</div>
</div>
