---
// No need to import the image since we're using a direct URL
---

<div class="left-2 fixed top-0 h-9 w-9 m-1 rounded-full drop-shadow-lg">
    <Image
        src="https://cdn.discordapp.com/attachments/1074435296978026588/1259801241689784350/ezgif-7-2eaf8a8b05.gif?ex=668d00d5&is=668baf55&hm=e6d7dcd107117c921c6fb9b967eeaf5b81f8bde8aae383ae0a7dae50ffa8bbc9"
        alt="Orbit Logo"
        class="rounded-full"
        height="36"
        width="36"
        loading="eager"
    />
    <span class="text-1xl relative m-2 left-[50px] bottom-[30px] font-medium">
        Orbit
    </span>
</div>