---
import { Image } from 'astro:assets';
---

<div class="left-2 fixed top-0 h-9 w-9 m-1 rounded-full drop-shadow-lg">
	<Image
		src="https://cdn.discordapp.com/attachments/1074435296978026588/1254337465137893446/ezgif-7-2eaf8a8b05.gif?ex=668b954c&is=668a43cc&hm=4df297125c897218beba07d28f2d96687be5572ae70df25d917c33f53dcb6bb6&"
		alt:"Orbit Logo"
		class="rounded-full"
		height="36"
		width="36"
		loading="eager"
	/>
	<span class="text-1xl relative m-2 left-[50px] bottom-[30px] font-medium"
		>Orbit
	</span
	>
</div>
