---
import { Image } from 'astro:assets';
---

<div class="left-2 fixed top-0 h-9 w-9 m-1 rounded-full drop-shadow-lg">
	<Image
		src="https://github.com/OrbitingAstronaut/Orbit.dev/blob/a47ca18ca64685b0986bf2f4c5823ac7a1dbb5d4/ezgif-7-2eaf8a8b05.gif"
		class="rounded-full"
		alt="Orbit logo"
		height="36"
		width="36"
		loading="eager"
	/>
	<span class="text-1xl relative m-2 left-[50px] bottom-[30px] font-medium"
		>Orbit</span
	>
</div>
