---
import { Image } from 'astro:assets';
---

<div class="left-2 fixed top-0 h-9 w-9 m-1 rounded-full drop-shadow-lg">
	<Image
		src="/ithundxr_transparent_circle.png"
		class="rounded-full"
		alt="IThundxr logo"
		height="36"
		width="36"
		loading="eager"
	/>
	<span class="text-1xl relative m-2 left-[50px] bottom-[30px] font-medium"
		>IThundxr</span
	>
</div>
