---
import Logo from "../components/Logo.astro";
---

<div
	class="fixed top-0 right-0 h-11 w-full rounded-b-3xl bg-white/50 backdrop-blur drop-shadow-lg"
>
	<div class="list-reset flex justify-end">
		<Logo />
		<div>
			<a
				href="/"
				class="underline relative p-2 right-[6px] top-[10px] rounded-md focus:outline-none">Home</a
			>
		</div>
		<!-- REMOVE ME AFTER PROJECT PAGE IS DONE -->
		<!-- <div>
			<a
				href="projects"
				class="underline relative p-2 right-[6px] top-[10px] rounded-md focus:outline-none">Projects</a
				>
			</div> -->
	</div>
</div>
