---
import RoundButton from "./RoundButton.astro";
import { Image } from 'astro:assets';
---

<div class="w-screen h-screen flex justify-center items-center">
	<div
		class="p-10 backdrop-blur bg-white/50 rounded-2xl drop-shadow-lg space-y-5"
	>
		<h1 class="text-center text-3xl">Heyo, I'm IThundxr</h1>
		<p class="text-center text-1xl">
			I like to play games<br /> and I also like to code
		</p>
			<Image
				src="/ithundxr.png"
				class="rounded-full w-32 h-32 mx-auto border-2 border-white backdrop-blur"
				alt="ithundxr"
				height="128"
				width="128"
				loading="eager"
			/>
		<div class="flex justify-center">
			<RoundButton
				link="https://github.com/ithundxr"
				iconname="bx:bxl-github"
				service="Github"
				color="#1B1F23"
			/>
			<RoundButton
				link="https://discordapp.com/users/694604709591384226"
				iconname="akar-icons:discord-fill"
				service="Discord"
				color="#5865F2"
			/>
			<RoundButton
				link="https://twitter.com/ithundxr_"
				iconname="bx:bxl-twitter"
				service="Twitter"
				color="#1D9BF0"
			/>
			<RoundButton
				link="https://www.youtube.com/@IThundxr"
				iconname="akar-icons:youtube-fill"
				service="Youtube"
				color="#FF0000"
			/>
			<RoundButton
				link="https://twitch.tv/ithundxr_"
				iconname="bi:twitch"
				service="Twitch"
				color="#A970FF"
			/>
			<RoundButton
				link="mailto:me@ithundxr.dev"
				iconname="ic:outline-email"
				service="Email"
				color="#ffffff"
			/>
		</div>
	</div>
</div>
