---
import RoundButton from "./RoundButton.astro";
import { Image } from 'astro:assets';
---

<div class="w-screen h-screen flex justify-center items-center">
	<div
		class="p-10 backdrop-blur bg-white/50 rounded-2xl drop-shadow-lg space-y-5"
	>
		<h1 class="text-center text-3xl">Heyo, I'm Orbit</h1>
		<p class="text-center text-1xl">
			I find space pretty cool<br /> and I also like astronauts and am good at math :3
		</p>
			<Image
				src="https://cdn.discordapp.com/attachments/1074435296978026588/1254337465137893446/ezgif-7-2eaf8a8b05.gif?ex=668b954c&is=668a43cc&hm=4df297125c897218beba07d28f2d96687be5572ae70df25d917c33f53dcb6bb6&"
				class="rounded-full w-32 h-32 mx-auto border-2 border-white backdrop-blur"
				alt="o4bit"
				height="128"
				width="128"
				loading="eager"
			/>
		<div class="flex justify-center">
			<RoundButton
				link="https://github.com/orbitingastronaut"
				iconname="bx:bxl-github"
				service="Github"
				color="#1B1F23"
			/>
			<RoundButton
				link="https://discordapp.com/users/719923357046538243"
				iconname="akar-icons:discord-fill"
				service="Discord"
				color="#5865F2"
			/>
			<RoundButton
				link="https://twitter.com/o4bit_"
				iconname="bx:bxl-twitter"
				service="Twitter"
				color="#1D9BF0"
			/>
			<RoundButton
				link="https://www.youtube.com/@O4bit_"
				iconname="akar-icons:youtube-fill"
				service="Youtube"
				color="#FF0000"
			/>
			<RoundButton
				link="https://twitch.tv/O4bit"
				iconname="bi:twitch"
				service="Twitch"
				color="#A970FF"
			/>
			<RoundButton
				link="mailto:deepspaceproductions@gmail.com"
				iconname="ic:outline-email"
				service="Email"
				color="#ffffff"
			/>
		</div>
	</div>
</div>
