---
export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="https://cdn.discordapp.com/attachments/1074435296978026588/1254337465137893446/ezgif-7-2eaf8a8b05.gif?ex=668b954c&is=668a43cc&hm=4df297125c897218beba07d28f2d96687be5572ae70df25d917c33f53dcb6bb6&?" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Orbit's Website" />
    <meta content="Orbit" property="og:title" />
    <meta content="Orbit's Website" property="og:description" />
    <meta content="https://orbitingastronautdev-orbitingastronauts-projects.vercel.app/" property="og:url" />
    <meta content="https://cdn.discordapp.com/attachments/1074435296978026588/1254337465137893446/ezgif-7-2eaf8a8b05.gif?ex=668b954c&is=668a43cc&hm=4df297125c897218beba07d28f2d96687be5572ae70df25d917c33f53dcb6bb6&" property="og:image" />
    <meta content="#ba132d" data-react-helmet="true" name="theme-color" />
    <title>{title}</title>
    <link rel="me" href="https://floss.social/@O4bit">
</head>

<style>
.background-animate {
    background-image: url('https://cdn.discordapp.com/attachments/1074435296978026588/1259584355421126779/ezgif-3-5114a63fef.gif?ex=668c36d8&is=668ae558&hm=e207ca7dcfca144211ed09c375e5475c393141d6731ebf244954e2e450a02752&');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* optional: keeps background fixed while scrolling */
    /* Add any other background-related styles here */
}

    /* Additional styles for iframe */
    iframe {
        position: fixed;
        bottom: 20px;
        right: 20px;
        border: none;
        overflow: hidden;
        z-index: 9999;
    }
</style>
